.about-block {
  padding: 40px;
  margin-bottom: 40px;

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    text-transform: lowercase;
    color: #7099ab;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .about-staff {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}


@media ( max-width: 767px ){

  .about-block {

    h3 {
      margin-bottom: 0;
      font-size: 1.8rem;
    }

    .about-staff {

      flex-direction: column;

    }

  }

  .about-staff h2 { margin-bottom: 20px !important; }

}
