header {
  height: 60px;
  background-color: #000;

  .container { height: 100%; }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    .header__link {
      display: block;
      font-family: 'Lato', sans-serif;
      font-size: 1.6rem;
      text-decoration: none;
      color: $white;
      margin: 0 20px;
      transition: all .3s ease;
    }

    .header__link:hover { color: $brown; }
    .header__link:last-child { margin-right: 0; }

    .header__home-link {
      margin-right: auto;
      margin-left: 0;
      font-family: 'Pacifico', cursive;
      font-size: 2.4rem;
    }
  }
}
