.cousine-row {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .cousine-fc {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    flex-basis: 49%;
  }

  .cousine-sc {
    flex-basis: 49%;
  }

  .cousine-sc p {
    line-height: 20px;
    margin-bottom: 20px;
  }
}


@media ( max-width: 767px ){
  .cousine-row { flex-direction: column; }

  .cousine-row .cousine-fc,
  .cousine-row .cousine-sc {
    flex-basis: 100%;
    width: 100%;
  }

  .cousine-row .cousine-fc { height: 360px; }
  .cousine-row .cousine-sc { padding-top: 30px; }

}
