.home-reservation__form {

  background-color: rgba(0,0,0, .6);
  max-width: 950px;
  margin: 50px auto 0;
  padding: 40px 30px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  padding-top: 6px;
  box-sizing: border-box;
}

.date-picker-wrapper {
  position: relative;
  top: -10px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 8px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  font-size: 1.5rem;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 120px;
}

.react-datepicker--time-only .react-datepicker__time-container { width: 120px; }

.reservation-form__fields {

  .group-field-row,
  .group-field-half-subrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .group-field-half-subrow,
  .group-type-half { flex-basis: 48%; }
  .group-type-full { flex-basis: 100%; }

  .group-field { margin-bottom: 20px; }

  label, input {
    width: 100%;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: $white;
    font-weight: 300;
  }

  label { margin-bottom: 10px; }

  input {
    border: none;
    background-color: #646464;
    height: 35px;
    border-bottom: 1px solid $white;
    padding: 10px;
    box-sizing: border-box;
  }

  .submit-button {
    background-color: $brown;
    border: none;
    height: 35px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: $gray;
    font-weight: 300;
    width: 180px;
    transition: all .3s ease;
    display: block;
    margin: 50px auto 0;
  }

  .submit-button:hover {
    background-color: lighten( $brown, 10% );
    cursor: pointer;
  }

  select {
    width: 100%;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: $white;
    font-weight: 300;
    border: none;
    background-color: #646464;
    height: 35px;
    border-bottom: 1px solid $white;
    padding: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  .radio-group {
    display: flex;
    flex-basis: 100px;
    align-items: center;
    justify-content: flex-start;

    label { margin-bottom: 0; }
    input { flex-basis: 25px; }
  }

  .radio-group-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .special-inputs,
    input, label.inner-label, select {
      color: $brown;
    }
}


@media ( max-width: 991px ){
  .reservation-form__fields {
    label { font-size: 1.5rem; }
  }

  .date-picker-wrapper { flex-basis: 48%; }
}

@media ( max-width: 767px ){

  .reservation-form__fields {

    .group-field-half-subrow,
    .group-field-row { flex-wrap: wrap; }

    .group-type-half,
    .group-field-half-subrow { flex-basis: 100%; }

    button { margin-top: 30px; }

    .date-picker-wrapper,
    .react-datepicker-wrapper,
    .react-datepicker__input-container { width: 100%; }

    .date-picker-wrapper {
      margin-bottom: 15px;
      flex-basis: 100%;
    }

    .date-picker-wrapper:first-child { margin-top: 5px; }
  }

}
