.home-gallery { margin-top: 50px; }

.first-row {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .row-image {
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .frfi {
    flex-basis: 74.5%;
  }

  .frsi {
    flex-basis: 24.5%;
  }

}



@media ( max-width: 991px ){
  .frsi { display: none; }

  .first-row .frfi {
    flex-basis: 100%;
    height: 360px;
  }
}

@media ( max-width: 767px ){
  .home-gallery { margin-top: 30px; }
  .first-row .frfi { height: 260px; }
}
