.home-location {

  .home-location__image {
    position: relative;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .home-location__content {
      position: absolute;
      left: 50%;
      bottom: 80px;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      color: $white;
      text-align: center;

      h3 {
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
        font-weight: normal;
      }

      p {
        color: inherit;
        font-size: 2rem;
      }

      i {
        font-size: 8rem;
      }

    }

  }

}
