.main {
  position: relative;
  min-height: 1600px;
  padding-bottom: 80px;

  .bg_image {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    z-index: -1;
  }

  .bg_top { top: 0; }
  .bg_bottom { bottom: 0; }
}


@media ( max-width: 991px ){
  .main { min-height: auto; }
}

.small-main {
  min-height: calc(100vh - 300px);
  background-image: url('/images/bg_top.png');
  background-position: 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat;

}
