.menu-lunch {

  padding-top: 120px;

  .menu-section-layout {
    position: relative;

    .floating-section {
      position: absolute;
      width: 80%;
      height: 470px;
      background-color: rgba( #000, .5 );
      top: 170px;
      right: -40px;

      ul {
        padding-left: 350px;
        padding-top: 40px;
      }
    }
  }

  .layout-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .images-column {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      height: 520px;

      .first-image, .second-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .first-image {
        background-image: url('/images/lunch_LT.jpg');
        height: 300px;
      }

      .second-image {
        background-image: url('/images/lunch_LB.jpg');
        height: 200px;
      }
    }

    .color-column {
      flex-basis: calc( 60% - 20px );
      height: 520px;
      background-color: rgba( $blue, .6 );

      h2 {
        padding-top: 40px;
        padding-left: 90px;
        font-weight: normal;
      }
    }
  }

  .second-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;

    .first-image, .second-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px
    }

    .first-image {
      background-image: url('/images/lunch_BL.jpg');
      flex-basis: calc( 60% - 20px );
    }

    .second-image {
      background-image: url('/images/lunch_BR.jpg');
      flex-basis: 40%;
    }
  }
}



@media ( max-width: 991px ){

  .menu-lunch {

    .menu-section-layout .floating-section ul { padding-left: 240px; }

    ul li {
      font-size: 2.4rem;
      line-height: 4rem;
    }
  }

}


@media ( max-width: 767px ){

  .menu-lunch {

    padding-top: 50px;

    .menu-section-layout { height: 320px; }
    .menu-section-layout .images-column { display: none; }

    .menu-section-layout .color-column {
      flex-basis: 100%;
      height: 320px;

      h2 {
        padding-left: 0;
        text-align: center;
        padding-top: 20px;
      }
    }

    .menu-section-layout .floating-section {
      width: 90%;
      left: 50%;
      top: 75px;
      height: 230px;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      ul {
        position: static;
        padding-top: 20px;
        padding-left: 0;

        li {
          font-size: 1.6rem;
          text-align: center;
          line-height: 3rem;
        }
      }
    }

    .menu-section-layout .first-image {
      display: none;
    }

    .menu-section-layout .second-image { display: none; }
    .second-row { margin-top: 0; }
    .first-row { margin-bottom: 0; }
  }

}
