.menu-breakfast {

  .menu-section-layout {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;


    .left-section {
      flex-basis: 65%;
      background-color: $lightbrown;
      height: 500px;

      h2 {
        text-align: right;
        padding-right: 80px;
        padding-top: 30px;
        font-weight: normal;
      }
    }

    .right-section {
      flex-basis: 33%;
      height: 500px;
      background-image: url('/images/menu-breakfast01.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .bottom-section {
      flex-basis: 100%;
      background-image: url('/images/menu-breakfast02.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 220px;
      margin-top: 20px;
    }

    .floating-section {
      position: absolute;
      top: 120px;
      left: -40px;
      width: 80%;
      height: 440px;
      background-color: rgba($black, .5);

      ul {
        text-align: right;
        position: relative;
        right: 280px;
        top: 40px;
      }
    }

  }

}
