.p-t-20 { padding-top: 20px; }
.p-t-80 { padding-top: 80px; }
.p-t-120 { padding-top: 120px; }

.p-tb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media ( max-width: 767px ){
  .p-t-80 { padding-top: 40px; }
}
